<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="HBD" value="https://pkgs.dev.azure.com/drunkcoding/_packaging/HBD/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <HBD>
      <add key="Username" value="baoduy2412@outlook.com" />
      <add key="ClearTextPassword" value="rvlef4hnzb7tgm76cbn6l6o4t5of6swzskxvch2ktphenx6l5nga" />
    </HBD>
  </packageSourceCredentials>
</configuration>